<!-- Activity 7-->
<!-- <p>{{title}}</p>
<h1>Device Details View</h1> -->
<!-- 
    <app-device-list></app-device-list>

<div *ngIf="!showUpdate">
    <div *ngFor="let device of devices">
        <app-device-details [deviceDetail]="device" (updateDetail)="updateDevice($event)">
        </app-device-details>
    </div>
</div>

<div *ngIf="showUpdate">
    <app-reactive-form [device]="selectedDevice" (update)="updateDisplay($event)">
    </app-reactive-form>
</div> -->


<router-outlet></router-outlet>


<!-- <div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
    <button (click)="update()">Update</button>
</div>

<div>
    <app-template-form (deviceDetail)="addDevice($event)"></app-template-form>
</div> -->

<!-- <app-reactive-form>

</app-reactive-form> -->






















<!-- Activity 5  -->
<!-- {{title}}
<h1>Device Details View</h1>
<div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
</div> -->






<!-- {{title}}
<app-first (firstEvent)="appEvent($event)"></app-first>
<app-second [secondMessage]="appMessage"></app-second> 

<div *ngFor="let count of countNum">
    <app-first [firstMessage]="count"></app-first>
</div>


<app-first [firstMessage]="appMessage" ></app-first>
<app-second></app-second>
<app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth> 

 <div *ngFor="let message of appMessageArray">
    <app-first [firstMessage]="message"></app-first>
</div> -->