
<!-- Activity 5 -->
{{title}}
<h1>Device Details View</h1>
<div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
</div>






<!-- {{title}}
<app-first (firstEvent)="appEvent($event)"></app-first>
<app-second [secondMessage]="appMessage"></app-second> -->

<!-- <div *ngFor="let count of countNum">
    <app-first [firstMessage]="count"></app-first>
</div> -->


<!-- <app-first [firstMessage]="appMessage" ></app-first>
<app-second></app-second>
<app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth> -->

<!-- <div *ngFor="let message of appMessageArray">
    <app-first [firstMessage]="message"></app-first>
</div> -->

