<!-- {{title}}
<br><br>
Count: {{counter}}   <br>
<button (click)="addClick()">Add Count</button><br>
<button (click)="subClick()">Sub Count</button>
<div *ngIf="showComponent">
    <app-second></app-second>
</div> -->
<!-- <h1>Device Details View</h1>

<div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
</div> -->


<!-- <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <div></div>
    {{counter}}    -->
<!-- <div *ngIf="showComponent">
    <app-second></app-second>
</div>
<br>
<button (click)="add()">Add Count</button>
<br>

<button (click)="sub()">Sub Count</button> -->





<!-- {{title}}
<app-first (firstEvent)="appEvent($event)"></app-first>
<app-second [secondMessage]="appMessage"></app-second> -->

<!-- <div *ngFor="let count of countNum">
    <app-first [firstMessage]="count"></app-first>
</div> -->


<!-- <app-first [firstMessage]="appMessage" ></app-first>
<app-second></app-second>
<app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth> -->

<!-- <div *ngFor="let message of appMessageArray">
    <app-first [firstMessage]="message"></app-first>
</div> -->

